<% if(partial == false) { %> <%- include('../header') %> <% } %>

    <div view class="visible" id="view-research">
      <div class="dom-card">
        <h2>Research</h2>
        <p>Coming soon.</p>
      </div>
    </div>

<% if(partial == false) { %> <%- include('../footer') %> <% } %>
