* {
  box-sizing: border-box;
}

html, body {
  /* Normalize */
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

h2 {
  margin-top: 0;
}

p {
  word-spacing: 2px;
  font-size: 18px;
}

li p, tr p, td p {
  margin: 5px 0px 5px 0px;
}

.dom-card li {
  line-height: 27px;
}

a, a:visited {
  color: LinkText;
  text-underline-offset: 3px;
}

h1 > a {
  color: white !important;
  text-decoration: none;
}

/*https://stackoverflow.com/a/24298427/3947332*/
/*This creates a header offset for same-document navigations*/
h2[id]::before {
  content: '';
  display: block;
  height:      145px;
  margin-top: -145px;
  visibility: hidden;
}

ul#project-list > li > p> a {
  text-decoration: none;
}

section.view-content {
  contain: content; /*layout style paint */
  top: 100px;
  width: 100%;
  opacity: 0;
  padding: 10px;
  position: absolute;
  pointer-events: none;
  background: transparent;
  transform: translateX(20px);
  transition: transform 0.3s cubic-bezier(0, 0, .3, 1),
              opacity 0.3s cubic-bezier(0, 0, .3, 1);
}

section.view-content.visible {
  opacity: 1;
  pointer-events: auto;
  transform: none;
}

section.view-content::before {
  content: '';
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ececec;
  transition: opacity 0.3s cubic-bezier(0, 0, .3, 1);
}

body::after {
  content: '';
  opacity: 0;
  position: absolute;
  pointer-events: events;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px -16px; /* center after top and left */
  border-radius: 50%;
  border: 2px solid slategray; /*#586986*/
  border-top-color: transparent;
  animation: spin 1.1s infinite linear;
  transition: opacity 0.3s cubic-bezier(0, 0, .3, 1);
}

body.view-pending::after {
  opacity: 1;
}

.header {
  font-family: inherit;
  width: 100%;
  height: 106px;
  margin: 0;
  padding: 30px 20px 0px 20px;
  position: fixed;
  z-index: 9000;
  border-bottom: 10px solid #8b963b;

  background: firebrick;
  background: #5f5e5e;
  background: #45b7ac;
  background: #005fa9;
  background: #0079d8;
  background: #195a28;
}

.header > .header-content {
  display: flex;
  /*
    Ordinarily we would want `align-items: center;`, so that the shortest
    content in the `.header-content` (i.e., the `nav` bar) doesn't float too
    high, and is aligned with the taller content. However, the baseline of the
    `.header-title` font is already unusually high, so if we omit
    `align-items: center;` here, the `nav` content floats up to the top of
    `.header-content`, but is almost perfectly aligned with the `.header-title`
    to the left.
  */
  max-width: 900px;
  margin: 0 auto;
}

@font-face {
  font-family: Retrofunk;
  src: url("/fonts/Retrofunk.otf") format("opentype");
}
@font-face {
  font-family: Basheq;
  src: url("/fonts/Basheq.otf") format("opentype");
}
@font-face {
  font-family: Arshine;
  src: url("/fonts/Arshine.otf") format("opentype");
}
@font-face {
  font-family: DashHorizon;
  src: url("/fonts/DashHorizon.otf") format("opentype");
}

.header > .header-content > .header-title {
  color: white;
  margin: 0px;
  margin-right: auto;
  font-family: Retrofunk;
  font-size: 50px;
}

.header > .header-content > .header-title.Retrofunk {
  font-family: Retrofunk;
  letter-spacing: 3px;
}
.header > .header-content > .header-title.Basheq {
  font-family: Basheq;
  letter-spacing: 2px;
  line-height: 35px;
  font-size: 55px;
  margin-bottom: 0px;
}
.header > .header-content > .header-title.Arshine {
  font-family: Arshine;
  letter-spacing: 5px;
}
.header > .header-content > .header-title.DashHorizon {
  font-family: DashHorizon;
  font-size: 60px;
  letter-spacing: 4px;
}

.header > .header-content > .nav-container {
  line-height: 30px;
}

.header > .header-content > .nav-container > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.header > .header-content > .nav-container > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header > .header-content > .nav-container > nav > ul > li {
  display: inline-block;
}

.header > .header-content > .nav-container > nav > ul > li:hover {
  background: rgba(40, 40, 40, .4);
}

.header > .header-content > .nav-container > nav > ul > li > a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
}

@media (max-width: 730px) {
  .header > .header-content > .header-title.DashHorizon, .header > .header-content > .header-title.Retrofunk {
    font-size: 45px;
  }
  #flex {
    flex-direction: column;
  }
  #flex img {
    width: 300px;
  }
}

@media (max-width: 405px) {
  .header > .header-content > .header-title.DashHorizon, .header > .header-content > .header-title.Retrofunk {
    font-size: 30px;
  }
}

@media (max-width: 695px) {
  /* Nav styles */
  .header > .header-content > .nav-container > nav {
    will-change: transform;
    position: fixed;
    transform: translateX(0px);
    width: 70%;
    top: 0;
    right: -70%; /* 70% of viewport - not element */
    height: 100%;
    background: white;
    z-index: -1;
    transition: transform 0.3s cubic-bezier(0, 0, .3, 1);
  }

  .header > .header-content > .nav-container > input:checked ~ nav {
    transform: translateX(-100%); /* -100% of element body - not viewport */
  }

  .header > .header-content > .nav-container > nav > ul {
    margin-top: 80px;
  }

  .header > .header-content > .nav-container > nav > ul > li {
    display: block;
    width: 100%;
  }

  .header > .header-content > .nav-container > nav > ul > li > a {
    color: black;
  }

  .header > .header-content > .nav-container > label {
    display: inline-block;
    background: url(/imgs/ic_menu_black_24px.svg) center center no-repeat;
    width: 24px;
    height: 24px;
    padding-top: 36px;
    vertical-align: middle
  }

  .header > .header-content > .header-title {
    display: inline-block;
  }
}

@media (max-width: 250px) {
  .header > .header-content > .header-title {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);;
  }

  100% {
    transform: rotate(360deg);
  }
}

.dom-card {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 20px auto 0px auto;
  word-wrap: break-word;
}

table td:first-child {
  padding-right: 45px;
}

td {
  padding: 3px;
}
