<article>
  <md-card>
    <h2>Hello!</h2>
  </md-card>

  <md-card>
    <h2>About Me</h2>
    <div style="text-align:center;">
      <div class="github-card" data-github="domfarolino" data-width="400" data-height="" data-theme="medium"></div>
    </div>
    <p>I am currently a junior studying computer science at the University of Cincinnati.
      I have a passion for building applications other people can use to connect with each other.
      I'm a big advocate for the future of web apps and want to do my part in getting the web
      to do everything that native can on every platform. I usually split my working time between building and
      experimenting with <a href="https://developers.google.com/web/progressive-web-apps">Progressive Web Apps</a>,
      as well as solving algorithms on <a href="https://code.google.com/codejam">Google Code Jam</a> and <a href="https://leetcode.com/problemset/algorithms/">other</a> <a href="http://www.spoj.com/">online judges</a>
      
    </p>
      
    <p>I like to play the piano and run in my free time. On opposite day I'm a right-handed spider enthusiast and future chemist.
    </p>
      
  </md-card>
  
  <md-card>
    <h2>Recent Projects</h2>
    <p>Here's a condensed list of some of my GitHub repositories</p>
    <div style="text-align:center;">
      <div *ngFor="let repo of repos" style="height:200px !important; overflow: hidden;">
        <div class="github-card" [attr.data-github]="repo" data-width="100%" data-height="" data-theme="default"></div>
      </div>
    </div>
  </md-card>
    
  <md-card>
    <h2>Contact me:</h2>
    <a href="https://github.com/domfarolino" target="_blank" class="inherit">
      <button md-raised-button color="primary">
        GitHub
      </button>
    </a>

    <a href="https://twitter.com/DomFarolino" target="_blank" class="inherit">
      <button md-raised-button color="primary">
        Twitter
      </button>
    </a>

    <a href="https://domfarolino.github.io" target="_blank" class="inherit">
      <button md-raised-button color="primary">
        Blog
      </button>
    </a>

    <a href="mailto:domfarolino@gmail.com" target="_blank" class="inherit">
      <button md-raised-button color="primary">
        Email
      </button>
    </a>
  </md-card>

</article>
