<% if(partial == false) { %> <% include ../header %> <% } %>

    <div view class="visible" id="view-resume">
      <div class="dom-card">
        <h2>Resume</h2>
          Click <a target="_blank" href="https://drive.google.com/file/d/1HHxx5T_5Xi7SmIpSX8BVvrdeE2iVpmaF/view">here</a> to view my resume
        </p>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
