<% if(partial == false) { %> <% include ../header %> <% } %>

    <div view class="visible" id="view-resume">
      <div class="dom-card">
        <h2>Resume</h2>
        <p>
          Click <a href="https://drive.google.com/uc?export=download&id=0B2HRo77RSb3FRGt5aEUwVzdHVWc">here</a> to download my resume
        </p>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
