<!doctype html>
<html>
  <head>
    <title>Dominic Farolino</title>
    <meta charset="utf-8">
    <meta name="author" content="Dominic Farolino">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="theme-color" content="#5F5E5E">

    <script>
      var host = "domfarolino.com";
      if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
    </script>

    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@DomFarolino">
    <meta name="twitter:title" content="Dominic Farolino Personal Site">
    <meta name="twitter:description" content="Personal site for Dom Farolino">
    <meta name="twitter:image" content="https://domfarolino.com/imgs/box@192.png">
    <meta name="twitter:image:alt" content="Cube logo">

    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="/imgs/box@192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imgs/box@16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/box@32.png">

    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto">
    <link rel="stylesheet" href="/css/master.css" media="screen">
  </head>
  <body>
    <div class="header">
      <div class="header-content">
        <img src="/imgs/box.svg" alt="box icon">
        <h2 class="header-title">Dom Farolino</h2>
        <div class="nav-container">
          <input id="menu-toggle" type="checkbox" class="menu-toggle">
          <label class="menu-toggle-label" for="menu-toggle"></label>
          <nav>
            <ul>
              <li><a id="a-home" href="/">Home</a></li>
              <li><a id="a-resume" href="/resume">Resume</a></li>
              <li><a id="a-public-keys" href="/public-keys">Public Keys</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <section class="view-content visible">
