<% if(partial == false) { %> <% include ./header %> <% } %>

    <div view class="visible" id="view-home">
      <div class="dom-card">
        <h2>About Me</h2>
        <p>
          I'm Dom Farolino, a computer science major pursuing my Master's degree.
          I'm a Software Engineering intern at Google in Tokyo, Chromium contributer, and
          ex-{Microsoft,Mozilla} intern. My interests range from computer science theory and
          algorithms, to the web platform (and more!).
        </p>
        <h3>Computer Science</h3>
        <p>
          I like solving algorithms and participating in competitive programming contests (C++). I love
          C++, JavaScript, and am interested in algorithms and graph theory.
        </p>
        <h3>Web Platform</h3>
        <p>
          I'm a member of the <a href=https://github.com/whatwg/>WHATWG</a>, technical owner of the
          <a href=https://wicg.github.io/priority-hints/>Priority Hints API</a> implementation in Chromium,
          Chromium committer, contributor to the <a href=https://html.spec.whatwg.org/multipage/>HTML Standard</a>,
          and editor of the <a href=https://console.spec.whatwg.org/>Console Standard</a>.
        </p>
        <p>
          This summer I'm interning with Google in Tokyo on the Chrome loading team. I've been contributing
          to Chromium for about a year prior to my internship; my work can be found
          <a href=https://chromium-review.googlesource.com/q/owner:dom%2540chromium.org>here</a>. So far
          this summer I've shipped subresource integrity support for link preloads
          (<a href=https://docs.google.com/document/d/1l8y_T3z-nb0smR9EVoZ3TeEI6rGzLw74vvzWzODsnDQ/edit>design doc</a>,
          <a href=https://crbug.com/677022>crbug</a>), and am working on enabling cross-origin prefetch in a
          privacy-preserving manner, with Chromium's double-keyed cache implementation
          (<a href=https://docs.google.com/document/d/1bKGDIePAuF6YXmmrwM33LeLvtuCsla3vTspsxsNp-f8/edit>design doc</a>,
          <a href=https://crbug.com/939317>crbug</a>).
        </p>
        <p>
          During the summer of 2017 I interned with Mozilla in Mountain View, CA on the Firefox graphics team
          where I helped implement off-main-thread painting.
        </p>
      </div>
      <div class="dom-card">
        <h2>Projects</h2>
        <p>
          Check out my <a href=https://github.com/domfarolino/>GitHub</a> account to see most of my projects. I maintain an
          <a href=https://github.com/domfarolino/algorithms/>algorithms</a> repository aimed at providing detailed
          explanations and implementations of classic algorithms, data structures, and competitive programming problems.
          I also maintain a <a href=https://blog.domfarolino.com/>blog</a> consisting of web- and algorithm-related posts.
        </p>
      </div>
       <div class="dom-card">
        <h2>Talks & Presentations</h2>
        <table>
          <tbody>
            <tr>
              <td><b>November 2018</b></td>
              <td><a href="https://www.youtube.com/watch?v=z2SbknMWtp0">CascadiaJS - Hitchhiker's Guide to Web Standards</a></td>
            </tr>
            <tr>
              <td><b>August 2017</b></td>
              <td><a href="https://air.mozilla.org/intern-presentations-round-2-thursday-august-1st/#@30m0s">Mozilla Intern Presentation - Off-Main-Thread Painting</a></td>
            </tr>
            <tr>
              <td><b>Februrary 2017</b></td>
              <td><a href="https://youtu.be/FXAOGZ3Gw4U?t=53s">Node Cincy Progressive Web App</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="dom-card">
        <h2>Contact Me</h2>
        <ul>
          <li>
            <a href=mailto:domfarolino@gmail.com>Email</a>
          </li>
          <li>
            <a href=https://github.com/domfarolino/>GitHub</a>
          </li>
          <li>
            <a href=https://twitter.com/domfarolino/>Twitter</a>
          </li>
        </ul>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
