<% if(partial == false) { %> <% include ./header %> <% } %>

    <div view class="visible" id="view-home">
      <div class="dom-card">
        <h2>About Me</h2>
        <p>
          I am a 4th year computer science major at the University of Cincinnati currently pursuing my Master's degree.
          I have a passion for computer science theory, algorithms, and the web platform. I'm a fan of open source and a
          big advocate for the modern open web platform.
        </p>
        <p>
          During the summer of 2017 I interned with Mozilla in Mountain View, CA on the Firefox graphics team where
          I helped implement off-main-thread painting.
        </p>
        <h3>Computer Science</h3>
        <p>
          I like solving algorithms and participating in competitive programming contests (C++). I love C++, JavaScript,
          and am interested in algorithms and graph theory.
        </p>
        <h3>Web Platform</h3>
        <p>
          The web platform is my jam! I'm a contributor to Chromium, Firefox, and the
          <a href="https://html.spec.whatwg.org/multipage">HTML</a> standard. I'm a member of the <a href="https://whatwg.org">WHATWG</a>
          organization, and an editor of the <a href="https://console.spec.whatwg.org">console</a> specification.
        </p>
      </div>
      <div class="dom-card">
        <h2>Projects</h2>
        <p>
          To see some of my projects check out my <a href="https://github.com">GitHub</a> account. I also maintain a
          <a href="https://blog.domfarolino.com">blog</a> consisting of web and algorithm posts.
        </p>
      </div>
      <div class="dom-card">
        <h2>Contact Me</h2>
        <ul>
          <li>
            <a href="mailto:domfarolino@gmail.com">Email</a>
          </li>
          <li>
            <a href="https://github.com/domfarolino">GitHub</a>
          </li>
          <li>
            <a href="https://twitter.com/domfarolino">Twitter</a>
          </li>
        </ul>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
