<% if(partial == false) { %> <% include ./header %> <% } %>

    <div view class="visible" id="view-home">
      <div class="dom-card">
        <h2>About Me</h2>
        <p>
          I'm Dom Farolino, a computer science major pursuing my Master's degree.
          I'm a Software Engineering intern at Microsoft, Chromium contributer, and ex-Mozilla intern.
          My interests range from computer science theory and algorithms, to the web platform (and more!).
        </p>
        <h3>Computer Science</h3>
        <p>
          I like solving algorithms and participating in competitive programming contests (C++). I love
          C++, JavaScript, and am interested in algorithms and graph theory.
        </p>
        <h3>Web Platform</h3>
        <p>
          I'm a member of the <a href=https://github.com/whatwg/>WHATWG</a>, technical owner of the
          <a href=https://wicg.github.io/priority-hints/>Priority Hints API</a> implementation in Chromium,
          contributor to the <a href=https://html.spec.whatwg.org/multipage/>HTML Standard</a>, Firefox, and
          editor of the <a href=https://console.spec.whatwg.org/>Console Standard</a>.
        </p>
        <p>
          During the summer of 2017 I interned with Mozilla in Mountain View, CA on the Firefox graphics team
          where I helped implement off-main-thread painting.
        </p>
      </div>
      <div class="dom-card">
        <h2>Projects</h2>
        <p>
          Check out my <a href=https://github.com/domfarolino/>GitHub</a> account to see most of my projects. I maintain an
          <a href=https://github.com/domfarolino/algorithms/>algorithms</a> repository aimed at providing detailed
          explanations and implementations of classic algorithms, data structures, and competitive programming problems.
          I also maintain a <a href=https://blog.domfarolino.com/>blog</a> consisting of web- and algorithm- related posts.
        </p>
      </div>
       <div class="dom-card">
        <h2>Talks & Presentations</h2>
        <table>
          <tbody>
            <tr>
              <td><b>August 2017</b></td>
              <td><a href="https://air.mozilla.org/intern-presentations-round-2-thursday-august-1st/#@30m0s">Mozilla Intern Presentation - Off-Main-Thread Painting</a></td>
            </tr>
            <tr>
              <td><b>Februrary 2017</b></td>
              <td><a href="https://youtu.be/FXAOGZ3Gw4U?t=53s">Node Cincy Progressive Web App</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="dom-card">
        <h2>Contact Me</h2>
        <ul>
          <li>
            <a href=mailto:domfarolino@gmail.com>Email</a>
          </li>
          <li>
            <a href=https://github.com/domfarolino/>GitHub</a>
          </li>
          <li>
            <a href=https://twitter.com/domfarolino/>Twitter</a>
          </li>
        </ul>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
