<% if(partial == false) { %> <% include ./header %> <% } %>

    <div view class="visible" id="view-home">
      <div class="dom-card">
        <h2>About Me</h2>
        <p>
          I'm Dom Farolino, a software engineer at
          <span style="color: #4285F4">G</span><span style="color: #DB4437">o</span><span style="color: #F4B400">o</span><span style="color: #4285F4">g</span><span style="color: #0F9D58">l</span><span style="color: #DB4437">e</span>
          on the Chrome team in Boston.
          I graduated from the University of Cincinnati in 2019, and interned on the Chrome team in
          Tokyo in the summer of 2019, Microsoft in 2018, and Mozilla in 2017. My interests range
          from computer science theory &amp; algorithms, to the web platform and more.
        </p>
        <h3>Computer Science</h3>
        <p>
          I used to participate in a lot of competitive programming contests, and have a strong
          interest in graph theory. I love C++ &amp; JavaScript, and am learning Rust.
        </p>
        <h3>Web Platform</h3>
        <p>
          I'm a Chromium <a href="https://en.wikipedia.org/wiki/Blink_(browser_engine)">Blink</a> owner
          and <a href=https://chromium.googlesource.com/chromium/src/+/master/docs/security/ipc-reviews.md>IPC</a>
          security owner, member of the <a href=https://github.com/whatwg/>WHATWG</a> web standards organization,
          contributor to the <a href=https://html.spec.whatwg.org/multipage/>HTML Standard</a>, and editor of some other specs.
          I largely work on loading-related projects &amp; web platform APIs, scheduling and IPC architecture,
          and Chrome's <a href=https://privacysandbox.com/>privacy-preserving APIs</a> for loading ads on the web
          (<a href=https://docs.google.com/document/d/1HAU9IiHZU4KBPC_rEk3BQYrWTK50PdNGg8CcHhVLXig/edit>design doc</a>,
          <a href=https://bugs.chromium.org/p/chromium/issues/detail?id=1123606>crbug</a>). All of my Chromium contributions can be found
          <a href=https://chromium-review.googlesource.com/q/owner:dom%2540chromium.org>here</a>.
        </p>
        <p>
          In the summer of 2019, I interned with Google in Tokyo on the Chrome loading team after contributing
          to Chromium for about a year and a half throughout college. Over the summer I shipped subresource integrity
          support for link preloads
          (<a href=https://docs.google.com/document/d/1l8y_T3z-nb0smR9EVoZ3TeEI6rGzLw74vvzWzODsnDQ/edit>design doc</a>,
          <a href=https://crbug.com/677022>crbug</a>), and worked on enabling cross-origin prefetch in a
          privacy-preserving manner, with Chromium's double-keyed cache implementation
          (<a href=https://docs.google.com/document/d/1bKGDIePAuF6YXmmrwM33LeLvtuCsla3vTspsxsNp-f8/edit>design doc</a>,
          <a href=https://crbug.com/939317>crbug</a>).
        </p>
        <p>
          During the summer of 2017 I interned with Mozilla in Mountain View, CA on the Firefox graphics team
          where I helped implement off-main-thread painting.
        </p>
      </div>
      <div class="dom-card">
        <h2>Projects</h2>
        <p>
          My personal projects can be found on my <a href=https://github.com/domfarolino/>GitHub</a> page. I maintain an
          <a href=https://github.com/domfarolino/algorithms/>algorithms</a> repository aimed at providing detailed
          explanations and implementations of classic algorithms, data structures, and competitive programming problems.
          Most recently I've been developing a small <a href=https://github.com/domfarolino/mage>interprocess communication
          library</a>, and I also maintain a <a href=https://blog.domfarolino.com/>blog</a> of web- and algorithm-related posts.
        </p>
        <p>
          <details>
            <summary>Web projects</summary>
            <ul>
              <li><a href=https://gh-pages.glitch.me>GitHub Pages Viewer</a></li>
              <li><a href=https://domfarolino.com/push-notifications>Push notifications demo</a></li>
              <li><a href=https://domfarolino.com/svg-editor>SVG editor</a></li>
              <li><a href=https://blog.domfarolino.com>Old blog</a></li>
            </ul>
          </details>
        </p>
        <p>
          <details>
            <summary>Other projects</summary>
            <ul>
              <li><a href=https://github.com/domfarolino/algorithms>Algorithms</a></li>
              <li><a href=https://github.com/domfarolino/mage>🧙‍♂️ Mage IPC library</a></li>
              <li><a href=https://github.com/domfarolino/base>🧱 <code>//base</code> library</a></li>
              <li><a href=https://github.com/domfarolino/specfmt>specfmt</a></li>
            </ul>
          </details>
        </p>
      </div>
       <div class="dom-card">
        <h2>Talks & Presentations</h2>
        <table>
          <tbody>
            <tr>
              <td><b>May 2022</b></td>
              <td><a href="https://youtu.be/NGRqRMpMWSM?t=122">BlinkOn 16 lightning talk — Debugging Chromium with LLDB</a></td>
            </tr>
            <tr>
              <td><b>May 2022</b></td>
              <td><a href="https://www.youtube.com/watch?v=hJ2UDBXZeF8">BlinkOn 16 - Fenced Frames Progress</a></td>
            </tr>
            <tr>
              <td><b>Nov 2021</b></td>
              <td><a href="https://youtu.be/-P_WMKaIhfA?t=1476">BlinkOn 15 lightning talk — Referrers and Redirects</a></td>
            </tr>
            <tr>
              <td><b>Jul 2021</b></td>
              <td><a href="https://www.youtube.com/watch?v=pqDk1cj30JA">Cross-Origin Referrer Redaction</a></td>
            </tr>
            <tr>
              <td><b>May 2021</b></td>
              <td><a href="https://www.youtube.com/watch?v=CqbluZHZofI">BlinkOn 14 - Fenced Frames Architecture</a></td>
            </tr>
            <tr>
              <td><b>September 2019</b></td>
              <td><a href="https://www.youtube.com/watch?v=BGHY9kj6xtg">Google Chrome Internship Presentation</a></td>
            </tr>
            <tr>
              <td><b>November 2018</b></td>
              <td><a href="https://www.youtube.com/watch?v=z2SbknMWtp0">CascadiaJS - Hitchhiker's Guide to Web Standards</a></td>
            </tr>
            <tr>
              <td><b>November 2018</b></td>
              <td><a href="https://www.youtube.com/watch?v=X9aVFr21P_E">Modern Web Podcast - Browser Standards</a></td>
            </tr>
            <tr>
              <td><b>August 2018</b></td>
              <td><a href="https://docs.google.com/presentation/d/1iO2tgqr9Tg1gzuV1AgZ-7fxXpVbdWJsKC0hPDvVSnd4/edit?usp=sharing">Modern Web Meetup - Demystifying Web Standards</a></td>
            </tr>
            <tr>
              <td><b>August 2018</b></td>
              <td><a href="https://www.youtube.com/watch?v=kRPYg9hzEZQ">Browser Contributor Days - Google Sunnyvale</a></td>
            </tr>
            <tr>
              <td><b>August 2017</b></td>
              <td><a href="https://air.mozilla.org/intern-presentations-round-2-thursday-august-1st/#@30m0s">Mozilla Intern Presentation - Off-Main-Thread Painting</a></td>
            </tr>
            <tr>
              <td><b>Februrary 2017</b></td>
              <td><a href="https://youtu.be/FXAOGZ3Gw4U?t=53s">Node Cincy Progressive Web App</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="dom-card">
        <h2>Contact Me</h2>
        <ul>
          <li>
            <a href=mailto:domfarolino@gmail.com>Email</a>
          </li>
          <li>
            <a href=https://github.com/domfarolino/>GitHub</a>
          </li>
          <li>
            <a href=https://twitter.com/domfarolino/>Twitter</a>
          </li>
        </ul>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
