<% if(partial == false) { %> <% include ./header %> <% } %>

    <div view class="visible" id="view-home">
      <div class="dom-card">
        <h2>About Me</h2>
        <p>
          I am a 3rd year computer science major at the University of Cincinnati currently pursuing my Masters. I have a passion for computer science theory, algorithms, and building web applications. I'm a fan of open source and a big advocate for the modern open web platform.
        </p>
        <h3>Algorithms</h3>
        <p>
          I like studying and solving algorithms (C++ ftw) and spend a lot of time on competitive programming platforms.
        </p>
        <h3>Web</h3>
        <p>
          I do a lot with JavaScript and enjoy learning about web standards and Progressive Web Apps.
        </p>
      </div>
      <div class="dom-card">
        <h2>Projects</h2>
        <p>
          To see some of my projects check out my <a href="https://github.com">GitHub</a> account.
        </p>
      </div>
      <div class="dom-card">
        <h2>Contact Me</h2>
        <ul>
          <li>
            <a href="https://github.com/domfarolino">GitHub</a>
          </li>
          <li>
            <a href="https://twitter.com/domfarolino">Twitter</a>
          </li>
          <li>
            <a href="https://chinocode.com">Blog</a>
          </li>
          <li>
            <a href="mailto:domfarolino@gmail.com">Email</a>
          </li>
        </ul>
      </div>
    </div>

<% if(partial == false) { %> <% include ./footer %> <% } %>
