<% if(partial == false) { %> <% include ../header %> <% } %>

    <div view class="visible" id="view-public-keys">
      <div class="dom-card">
        <h2>Linux Desktop</h2>
        <p>
          ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDBlY+HR/oAo1FV72pnQvzWAIyayLmweHkx6YCAwCZj4lHx1AbOhPqBWpTeiq8Ok8eRMS1QY4knhaLTwvqaiH9lKXxrbz4Nwboqr0LM5VtIh0whkXdzllUO0eWjndj3w7Pg4yL7cBTKsve1YhL30gnLnn9GlvYd79uBumgHVktMqkALYilf/isigbq5HpvCVzZrmEoFH8tlBHhXIITNUg3n/2dmzIaf1BSiQo5/lSa+XoRM+Y2iER2jdp8u4PdkvG4xbfIhFXWeyBf82d5S7QNewynyC/mV5sHHlH6aNsRD9Ec6J0AtvXzecoRzAl5mOCxKjLumDm+R7IG+Q3jZeOT7 domfarolino@domfarolino
        </p>
      </div>
      <div class="dom-card">
        <h2>MacBook Pro</h2>
        <p>
          ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDwSWg/PQX4PmJ3ctxWgxE4DWuIM/pLpj8nKauOgUk7Ajny2Uv42bkmCmgchp7Yacw8koEx9UaTqB0ayzAPxlqALKILxLsUchJUXgbMi0EvhONFRx/5gOQ202RpyOuRuYc6P1mZhMWl062NFuOUSxJI4agciCJHXNptn2IwTd70Sn5PKhDBk0zyoE7Ch4zyK8mOx4fQjpU+UejYPIyV6iqjkVAbOo6nOoHYB/QsgjffK1AopwwKWyRwku0rZp1e6hf1qeZH0rxDnOgv85PEAGo97lDglfWY14mG9tSIUJnX/PekmmEMfyoPhK0k8uWO2MfxzVzY1+Lp974SnVWvDvK/ domfarolino@domfarolino
        </p>
      </div>
      <div class="dom-card">
        <h2>MacBook Pro 2016 - Mozilla</h2>
        <p>
          ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDkOt2jL7lOB0TgSjTK7reNTwBHL4kH0SV/1iUEhLqZDkRD5HDAlSjkR11EYht/zPoSy5VDkYVMNCgikXLooMxwlpEs1rN5TRrNorMteUM+18Qjkd36tu2HhpAPW31VUx4ng/NupaE094YXK4GP+2IV3NZ4IMhlUd4an1JXg/V665UQqLDWSw7krugfJ89TSkzk8/s02nXnIrr9LSlTL/rD2RTZbeiRDW5FkLVCAWy15f1m3HnAMVChYN1rQZqgDEKtVBZRtRxDuePzGRIjE3ReKzAedibslVtfSlsI5Hc/xzxtfx2V1qzMyI1oCUhh+G/da8LNBdklH42zFhH3AJUL dfarolino@mozilla
        </p>
      </div>
    </div>

<% if(partial == false) { %> <% include ../footer %> <% } %>
